.members-nav{

}

.members-nav-title{
    max-width: 100px;
    float: left;
    margin-right: 20px;
    padding: 10px 15px;
}

.members-nav-list{

}

ul.thumbnails.image_picker_selector li.custom-image-picker{
	display: inline;
	width:30%;
}

ul.thumbnails.image_picker_selector li .thumbnail p{
	text-align: center;
	font-weight: bold;
}